
body{
  background: url(bg.jpg);
}

h1{
  color: aqua;
  color: hwb(0 27% 63%);
  color: #0000ff;
  color: #00ff00;
  color: hsl(0, 17%, 46%);
  color: #ffffff;
  color: #0b22efd6;
  color: rgb(255,255,255);
  color: rgb(0,255,0);
  color: rgb(0,0,255);
  color: rgb(0,0,0);
  color: rgba(255,255,0,1);
  color: rgba(46, 213, 115,1.0)
  
}