h1{
  display: inline-block;
 /* border-style: outset;
  border-width: 10px;*/
  border-color: #474787;

  /*Shorthand
  1st called border: border-width , border-style , border-color
  */

/*
  border: 5px solid green;
  border-radius: 15px; */

  border-left:   5px solid greenyellow;
  border-right:  5px solid greenyellow;
  border-bottom: 5px solid greenyellow;
  border-top:    5px solid greenyellow;

  border-left-style: dotted ;
  border-right-style: dashed;
  border-bottom-style: double;
  border-top-style: groove;
  border-radius: 15px;
}
