* {
  margin: 0;
  padding: 0;
}

h1 {
  color: #ff8922;
  text-align: left;
}

p {
  margin-bottom: 20px;
}

/*Text Align Last*/

.one {
  text-align: center;
  text-align-last: left;
}

.two {
  text-align: center;
}

/*Direction*/
.three {
  direction: rtl;
  unicode-bidi: bidi-override;
}

.baseline {

  vertical-align: baseline;

}

.text-top {
  vertical-align: text-top;
}

.text-bottom {
  vertical-align: text-bottom;
}

.sub {
  vertical-align: sub;
}

.sub {
  vertical-align: sub;
}

a {
  text-decoration: overline underline;
}

h2 {
  text-transform: uppercase;
  /* letter-spacing: 2px; */
  text-shadow: 0px 5px 5px blue;
}

p {
  text-indent: 100px;
  font-size: 15px;
  line-height: 25px;
  white-space: break-spaces;
  word-spacing: 5px;


}